/*##Colors*/

/*###Primary*/

$blue: hsl(223, 87%, 63%);
$bg-white:hsl(0, 0, 100%);

/*###Secondary*/

$pale-blue: hsl(223, 100%, 88%);
$ligh-red: hsl(354, 100%, 66%);

/*###Neutral*/

$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$light-blue: hsl(223, 87%, 70%);
$dark-blue: hsl(223, 87%, 57%);
/*## Typography*/

/*### Body*/
$font-size: 20px;

/*### Font*/

$font: 'Libre Franklin', sans-serif;
$font-w-light:300;
$font-w-semi-bold:600;
$font-w-bold:700;



