/*##Colors*/
/*###Primary*/
/*###Secondary*/
/*###Neutral*/
/*## Typography*/
/*### Body*/
/*### Font*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif; }

/*##Colors*/
/*###Primary*/
/*###Secondary*/
/*###Neutral*/
/*## Typography*/
/*### Body*/
/*### Font*/
body {
  background: white;
  color: #151f29;
  font-size: 20px; }

.container__main {
  padding-top: 3rem;
  margin: 0 auto;
  text-align: left;
  min-width: 300px;
  width: 75%;
  max-width: 450px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .container__main {
      max-width: 720px; } }
  .container__main header .container__logo {
    width: 25%;
    margin: 0 auto 2rem auto;
    max-width: 100px; }
    .container__main header .container__logo img {
      width: 100%;
      height: auto;
      display: block; }
  .container__main header h1 {
    color: #969696;
    font-weight: 300; }
    .container__main header h1 span {
      color: #151f29;
      font-weight: 700; }
  .container__main header > * {
    margin-bottom: 1rem; }
  .container__main .container__form {
    margin: 1rem auto; }
    .container__main .container__form .container__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 1.5rem; }
      .container__main .container__form .container__inputs .container__input {
        margin-bottom: 1rem; }
        .container__main .container__form .container__inputs .container__input:first-child input[type="email"] {
          width: 100%;
          height: 2.5rem;
          margin-bottom: .5rem;
          padding: .5rem 1.5rem;
          font-size: .7rem;
          font-weight: 300;
          text-align: start;
          -webkit-appearance: textfield;
          background-color: white;
          -webkit-rtl-ordering: logical;
          cursor: text;
          color: #969696;
          border: 1px solid #c2d3ff;
          border-radius: 30px;
          box-sizing: border-box;
          box-shadow: none; }
        @media screen and (min-width: 1024px) {
          .container__main .container__form .container__inputs .container__input:first-child {
            width: 60%; } }
        .container__main .container__form .container__inputs .container__input:last-child button {
          width: 100%;
          height: 2.5rem;
          text-align: center;
          font-size: .9rem;
          font-weight: 600;
          text-transform: capitalize;
          color: white;
          background: #4f7df3;
          border-radius: 30px;
          border: none;
          box-shadow: none;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.1s ease-in;
          cursor: pointer; }
          .container__main .container__form .container__inputs .container__input:last-child button:hover {
            background: #7096f5;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }
          .container__main .container__form .container__inputs .container__input:last-child button:active {
            margin-top: .1rem;
            background: #3268f1; }
        @media screen and (min-width: 1024px) {
          .container__main .container__form .container__inputs .container__input:last-child {
            width: 30%; } }
        @media screen and (min-width: 1024px) {
          .container__main .container__form .container__inputs .container__input {
            margin-right: 1rem;
            margin-bottom: 0; } }
      @media screen and (min-width: 1024px) {
        .container__main .container__form .container__inputs {
          flex-direction: row; } }
  .container__main .container__hero {
    width: 100%; }
    .container__main .container__hero img {
      width: 100%;
      height: auto;
      display: block; }
  .container__main .contact {
    margin: 3rem auto; }
    .container__main .contact > * {
      margin-right: .5rem;
      padding: .8rem;
      color: #4f7df3;
      border: 1px solid #c2d3ff;
      border-radius: 50%;
      transition: all .25s ease;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      font-size: 16px; }
      .container__main .contact > * i {
        width: 16px;
        height: 16px; }
      .container__main .contact > *:hover {
        background: #4f7df3;
        color: white;
        border: 1px solid #4f7df3;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }

footer {
  padding-bottom: 1rem; }
  footer .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1.5rem; }
  footer .attribution a {
    color: #3e52a3; }

/*These classes are add with js*/
.alert {
  font-size: 12px;
  text-align: center;
  color: #ff5263;
  font-style: italic; }
  @media screen and (min-width: 1024px) {
    .alert {
      text-align: left;
      margin-left: 1rem; } }

.input-alert {
  border: 1px solid #ff5263 !important; }

